html{
    height: 100%;
}
body{
    width: inherit;
    min-height:100%

}
.parent {
    min-height: 73vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    background: aqua;
    padding: 0;
}

.contained {
    margin: 0;
    min-width:25%;
    min-height: inherit;
    background: yellow;
}

#millieu {
    min-width: 50%;
}

#millieu > img {
    max-height: 100%;
    max-width: 100%;
}

#millieu > #test {
    top: 20%;
    right: 20%;
    width: 300px;
    height: 300px;
}

.hide {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
}

#interface {
    background: crimson;
    border-top: black;
    min-height: 27vh;
    width: inherit;
}