html{
    height: 100%;
}
body{
    width: inherit;
    min-height:100%

}
.parent {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    background: aqua;
    padding: 0;

}

.contained {
    margin: 0;
    min-width:25%;
    min-height: inherit;
    background: yellow;

}

#millieu {
    min-width: 50%;
}

#interface {
    background: crimson;
    border-top: black;
    min-height: 50vh;
    width: inherit;
}